
@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Shared/_Dual_551.cshtml";
}

<h2>联系我们</h2>
<label>QQ：</label>
<input class="form-control" type="text">
<label>微信：</label>
<input class="form-control" type="text">
<label>电话：</label>
<input class="form-control" type="text">
<label>其他：</label>
<input class="form-control" type="text">
<input type="submit" class="btn btn-primary" value="提交" >
@section Description{
    <ol class="page-introduction-ol">

        <li>Email非常重要，可用于重置密码、接受用户消息（可设置取消）等，强烈建议填写。</li>
        <li>Email填写之后系统稍后会发送一封确认邮件到该地址，请注意查收，建议将<span class="text-primary">system@17help.net</span>加入白名单，以避免被当做垃圾邮件过滤掉。</li>
        <li>因为联系方式会公开显示，我们不建议你填写电话号码，以免个人信息被泄露。</li>
        <li>所以我们推荐使用QQ/微信等网络通信方式。</li>
        <li>注意填写QQ作为联系方式时，不要忘了留下“添加好友”的验证条件</li>

    </ol>

}

