
@{
    ViewBag.Title = "Index";
    Layout ="~/Views/Shared/_Dual_55.cshtml";
}


<div class="dualcolumns-container">
    <div class="page-header">
        <h2>

            <span class="fa fa-edit" aria-hidden="true"></span> 发布新目标

        </h2>
    </div>
  
       


            <form action="/Plan/New" method="post">
                <div class="form-group">
                    <label>标题（必填）：</label>
                    <input class="form-control" data-val="true" data-val-length="* 标题的长度不能大于256" data-val-length-max="256" data-val-required="* 标题不能为空" id="Title" name="Title" placeholder="简明扼要，多个目标请分开发布" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label>详细说明：</label>
                    <textarea class="form-control" cols="20" id="Description" name="Description" placeholder="补充你认为需要说明的其他信息。比如：求温柔/凶狠好心人，最好同城/校……" rows="4">
</textarea>
                </div>
                <div class="form-group">
                    <label>标签（必填）：</label>
                    <input class="form-control" data-val="true" data-val-length="* 关键字的长度不能大于256" data-val-length-max="256" data-val-required="* 关键字不能为空" id="KeyWords" name="KeyWords" placeholder="多个标签之间请用空格分开" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="KeyWords" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label>开始执行（必填）：</label>
                    <input class="form-control" data-provide="datepicker" data-val="true" data-val-date="字段 开始执行日期 必须是日期。" data-val-required="* 开始执行日期不能为空" id="From" name="From" placeholder="默认为今天" type="text" value="2020年12月27日" />
                    <span class="field-validation-valid" data-valmsg-for="From" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label>
                        <a href="/FAQ/Plan#quit" zyf-faq-remind><span class="fa fa-question-circle text-info"></span></a>
                        目标结束（必填）：
                    </label>
                    <input class="form-control" data-provide="datepicker" data-val="true" data-val-date="字段 结束日期 必须是日期。" data-val-greater="* 目标结束时间必须大于开始执行时间" data-val-greater-than="From" data-val-required="* 结束日期不能为空" id="To" name="To" placeholder="默认为一年后" type="text" value="2021年12月27日" />
                    <span class="field-validation-valid" data-valmsg-for="To" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label>
                        <a href="/FAQ/Plan#leave" zyf-faq-remind><span class="fa fa-question-circle text-info"></span></a>
                        （每周）交作业时间：
                    </label>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>一</th>
                                <th>二</th>
                                <th>三</th>
                                <th>四</th>
                                <th>五</th>
                                <th>六</th>
                                <th>日</th>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="DaysInWeek" value="1" checked /></td>
                                <td><input type="checkbox" name="DaysInWeek" value="2" checked /></td>
                                <td><input type="checkbox" name="DaysInWeek" value="3" checked /></td>
                                <td><input type="checkbox" name="DaysInWeek" value="4" checked /></td>
                                <td><input type="checkbox" name="DaysInWeek" value="5" checked /></td>
                                <td><input type="checkbox" name="DaysInWeek" value="6" checked /></td>
                                <td><input type="checkbox" name="DaysInWeek" value="7" checked /></td>
                            </tr>
                        </tbody>
                    </table>

                    <span class="field-validation-error" id="atLeastOneDay"></span>
                    <script>
                        $(document).ready(function () {
                            $("form").submit(function () {
                                var selectedDayNumber = $("input[name='DaysInWeek']:checked").length;
                                if (selectedDayNumber == 0) {
                                    $("#atLeastOneDay").text("* 至少选择一个交作业时间");
                                    return false;
                                }
                            })
                        })
                    </script>
                </div>
                <div class="form-group">
                    <label>
                        <a href="/FAQ/Plan#leave" zyf-faq-remind><span class="fa fa-question-circle text-info"></span></a>
                        每周可请假：
                    </label>
                    <div class="input-group input-group-combined">
                        <select class="form-control" data-val="true" data-val-number="字段 DaysOfLeave 必须是一个数字。" data-val-required="DaysOfLeave 字段是必需的。" id="DaysOfLeave" name="DaysOfLeave">
                            <option selected="selected">0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                        <span class="input-group-addon">天</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <a href="/FAQ/Plan#proof" zyf-faq-remind><span class="fa fa-question-circle text-info"></span></a>
                        证明：
                    </label>
                    <input class="form-control" id="Proof_Text" name="Proof.Text" placeholder="证据的文字描述" type="text" value="" />
                    <br />
                    <input class="form-control" id="Proof_Url" name="Proof.Url" placeholder="可以访问的网址，详见说明" type="text" value="" />
                </div>
                <div class="form-group">
                    <label>
                        <a href="/FAQ/Plan#join" zyf-faq-remind><span class="fa fa-question-circle text-info"></span></a>
                        好心人最多：
                    </label>
                    <div class="input-group input-group-combined">
                        <select class="form-control" data-val="true" data-val-number="字段 MaxNumberOfSupervisors 必须是一个数字。" data-val-required="MaxNumberOfSupervisors 字段是必需的。" id="MaxNumberOfSupervisors" name="MaxNumberOfSupervisors">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <span class="input-group-addon">人</span>
                    </div>
                </div>
                <div class="form-group" style="padding-bottom:20px">
                    <label>
                        <a href="/FAQ/Plan#punish" zyf-faq-remind><span class="fa fa-question-circle text-info"></span></a>
                        未交作业罚金（必填）：（<a href="/Money/Owner">现有<span zyf-current-money class="credit"></span>枚</a>
                        <small class="fa fa-refresh text-info" data-toggle="tooltip" title="刷新" zyf-money-available-refresh></small>
                        <input id="CurrentCredit" name="CurrentCredit" type="hidden" value="" zyf-hide-current-money="" />）
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="点击了解">
                                <span class="iconfont icon-money"></span>
                            </a>
                        </span>
                        <input class="form-control" data-rule-creditEnough="[zyf-current-money]" data-val="true" data-val-number="字段 未交作业惩罚 必须是一个数字。" data-val-regex="* 未交作业惩罚只能为正整数" data-val-regex-pattern="^[1-9][0-9]*$" data-val-required="* 未交作业惩罚不能为空" id="PunishCount" name="PunishCount" placeholder="正整数，建议10枚以上" type="text" value="" />
                        <span class="input-group-addon">枚</span>
                    </div>
                    <a href="/FAQ/Money#gain" zyf-faq-remind class="pull-right"><span class="fa fa-question-circle"></span> 如何获得“帮帮币”</a>
                    <span class="field-validation-valid" data-valmsg-for="PunishCount" data-valmsg-replace="true"></span>
                </div>
                <div class="submit">
                    <input type="submit" class="btn btn-primary" zyf-submit-once value="提交" />
                    <label class="checkbox-inline" style="margin-left:16px;">
                        <input type="checkbox" name="Continue" value="true" checked />继续
                    </label>
                </div>
            </form>


            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="introductionLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="introductionLabel"></h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">知道了</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        @section Description{
            <div page-introduction>
                
                <ol class="page-introduction-ol" zyf-page-introduction-body>

                    <li>
                        简单来说，“一起督促吧”就干这三件事：
                        <ul>
                            <li>
                                发布一个目标，押上一堆
                                <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="点击了解">
                                    <span class="iconfont icon-money"></span> 帮帮币
                                </a>

                            </li>
                            <li>
                                每天交作业。如果未交作业，“帮帮币”没了，(；′⌒`)
                            </li>
                            <li>
                                一群人互相督促，交上来的作业得验收/拒收，未交作业的“帮帮币”大家抢！
                            </li>
                        </ul>
                    </li>
                    <li>
                        管用不管用？你试试看啊。我之前用过（现在也在用：<a href="/Plan/Show/1#plan_detail_1">每天一篇博客</a>），还是蛮不错的。因为：
                        <ul>
                            <li>
                                会有压力。当前，前提是你要设置让你足够“肉痛”的<a href="/FAQ/Plan#punish">未交作业惩罚</a>
                            </li>
                            <li>
                                有伴。人是一种社会动物，很多时候我们是被寂寞打败的。一件不是那么容易坚持的事，几个人一起做，就不显得那么难了——当然，要志同道合，拖后腿的损友除外。
                            </li>
                            <li>
                                有成就感。“一起督促吧”会记录下你每一天的完成情况，一段时间回头看看，还是蛮有成就感的。
                            </li>
                        </ul>
                    </li>
                    <li>
                        目标应明确独立，多个目标请分开发布。比如你虽然是同时既想健身又想学英语，但还是将其发布为两个个目标为佳。
                    </li>
                    <li>
                        标题以简明扼要为佳，比如：每天跑步三十分钟。
                    </li>
                    <li>
                        详细说明和标签都有助于你别人了解你的目标，帮助你找到最“合适”的“好心人”。
                    </li>
                    <li>
                        建议你设置一个目标完成的时间，这样能阶段性的检查总结，更有成就感。
                    </li>
                    <li>
                        我们按“周”来计划目标的具体完成步骤（任务）。比如你计划每周星期一到星期五学习、周末休息，你就只需要勾选周一到周五即可，周末不要勾选。系统会自动忽略你未勾选的天数。而所有已勾选的天数，你都应该及时的“交作业”并由“好心人”验收，否则你的任务记录会判罚为“未交作业”。
                    </li>

                </ol>
            </div>
       
    
        }
