@page

@model SourceStack.Pages.Log.OnModel
@{
    Layout = "Layout/_Dual";
    
    ViewData["Title"] = "用户44登录";
}
<style>
    .field-validation-error {
        color: orangered;
        font-size: 12px;
    }
</style>
<form method="post" class="article">
    <div class="table">
        <label>用户名：(*必填)</label><br />
        <input  asp-for="Name" class="form-control" placeholder="登陆用户名" type="text" style="width:350px" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="table">
        <label>密码11：(*必填)</label><br />
        <input asp-for="Password" class="form-control" placeholder="不少于四位" type="password" style="width:350px" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="table">
        <label>验证码：(*必填)</label><br />
        <input id="test" name="test" type="text" style="width:80px;" />
        <span>点击输入框显示</span>
    </div>
    <div class="table">
        <input type="submit" class="btn btn-primary loading" value="提交" />&nbsp;&nbsp;
        <label class="checkbox-inline">
            <input asp-for="@Model.Remember"/>记住我
        </label>
        <a href="#" class="btn float-right text-primary">注册</a>
        <a href="#" class="btn float-right text-primary">(｡ŏ_ŏ) 忘了</a>
    </div>
</form>



@section Description{
    <ol>
        <li>我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。</li>
        <li>现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？</li>
        <li>当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</li>
        <li>公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。</li>
        <li>赶快加入我们，赚取帮帮币吧！</li>
    </ol>

}

