
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dual_93.cshtml";
}

<h2>Index</h2>




    <div>
        <span class="lead"><span class="fa fa-map-signs"></span>文章路径：</span>
        <a href="/Article">全部</a> /
        <a href="/Article/User-1">叶飞</a> /
        <a href="/Article/Category-1"> 源栈培训：ASP.NET全栈开发 </a><span> /</span>
        <a href="/Article/Category-71"> 前端基础 </a><span> /</span>
        <a href="/Article/Category-73"> HTML和CSS </a><span> /</span>
        <div style="padding-top: 15px" class="text-muted">
            <p style="border-left:5px solid; padding-left:10px;">HTML最常用的标签和属性，含HTML5的语义标签和新属性，但不包含需要JavaScript操作的HTML5 API，以及CSS基础（简述CSS 3动画相关），以及bootstrap.js以外的Bootstrap的内容。</p>
        </div>
    </div>
    <hr>
    <span style="top:60px;" class="visible-xs-inline visible-sm-inline flag">
        <a zyf-show-widget="">

            <span class="fa fa-window-restore"></span> 更多

        </a>
    </span><div class="clearfix">
        <div zyf-article-reorder-hide="" class="pull-left hide">
            <a href="/Article/Category-73?size=1000&amp;sort=Asc&amp;reorder=true" zyf-article-reorder="" data-flag="" class="btn btn-default"><span class="fa fa-reorder"></span> 调整顺序</a>
        </div>
        <div class="pull-right" style="margin-bottom:15px;">

            <a href="/Article/Category-73?size=50" class="btn yellow-highlight " data-toggle="tooltip" title="" data-original-title="切换为标题显示">
                <span class="fa fa-th-list"></span> 显示
            </a>

            <a href="/Article/Category-73?sort=Asc" class="btn yellow-highlight " data-toggle="tooltip" title="" data-original-title="点击切换为 顺序">
                <span class="fa fa-sort-amount-desc"></span> 排序
            </a>
        </div>
    </div>
    <div style="margin-bottom:20px; padding-bottom:10px; border-bottom: 1px dashed #ccc;">
        <div class="clearfix">
            <div>
                <small class="text-muted" zyf-datetime="">
                    <span>
                        <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2019年03月12日 13点37分</span>
                    </span>
                </small>

                <span class="pull-right">
                    作者：<a href="/Article/User-1">叶飞</a>

                    <a href="/Article/Edit/320" class="hide" style="margin-left:14px;" zyf-article-edit="" data-author-id="1"><span class="fa fa-pencil-square-o"></span> 修改</a>
                </span>
            </div>
            <h4>
                <a href="/Article/320">Bootstrap：全局样式和组件</a>

            </h4>
            <p style="word-break:break-all; clear:both; margin-top:8px;">
                中文文档：https://v4.bootcss.com/CDN（Content Delivery Network）把（静态）内容发布在多个网络节点，每个节点都有一个副本，让用户可以“就近（快）”的访问到所需内容，降低单个主机负荷。 <a href="/Article/320" data-toggle="tooltip" title="" data-original-title="全文">……</a>
            </p>
            <div>
                <label><span class="fa fa-tags"></span>  关键字：</label>
                <span class="badge">源栈培训</span>
                <span class="badge">前端</span>
                <span class="badge">CSS</span>
                <span class="badge">bootstrap</span>
            </div>
            <div class="pull-right appraise-status">
                <a class="appraise-status-item text-info" href="/Article/320#comments">
                    <span class="fa fa-comments-o"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">评论：</span>0
                </a>
                <a class="appraise-status-item text-success" href="/Article/Appraise?id=320&amp;direction=1" zyf-vote="" data-author-id="1">
                    <span class="fa fa-thumbs-o-up"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">赞：</span>
                    <span zyf-votes-count="">4</span>
                </a>
                <a class="appraise-status-item text-muted" href="/Article/Appraise?id=320&amp;direction=-1" zyf-vote="" data-author-id="1">
                    <span class="fa fa-thumbs-o-down"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">踩：</span>
                    <span zyf-votes-count="">0</span>
                </a>

            </div>
        </div>
    </div>
    <div style="margin-bottom:20px; padding-bottom:10px; border-bottom: 1px dashed #ccc;">
        <div class="clearfix">
            <div>
                <small class="text-muted" zyf-datetime="">
                    <span>
                        <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2019年03月09日 21点59分</span>
                    </span>
                </small>

                <span class="pull-right">
                    作者：<a href="/Article/User-1">叶飞</a>

                    <a href="/Article/Edit/319" class="hide" style="margin-left:14px;" zyf-article-edit="" data-author-id="1"><span class="fa fa-pencil-square-o"></span> 修改</a>
                </span>
            </div>
            <h4>
                <a href="/Article/319">CSS：3.0兼容/高级效果/动画/flex</a>

            </h4>
            <p style="word-break:break-all; clear:both; margin-top:8px;">
                兼容性 -ms--webkit-自动化工具：autoprefixer 阴影/渐变/透明 其实就是把以前需要用图片表示的东西，用CSS表现出来，减少网页的大小适合大神使用（需要可视化工具）2D/3D转换/过渡 为页面动画效果提供了基础作业点评：不要欠太多严格按照需求 --- 一开始就要养成的习惯professionalctrl+k+d：格式命名：谁能告诉我hue1是什么鬼？使用正确的标签：不知道该用什么的时候，多半是div和spanid和class可以用在同一个元素上的reviewborder-size 非 <a href="/Article/319" data-toggle="tooltip" title="" data-original-title="全文">……</a>
            </p>
            <div>
                <label><span class="fa fa-tags"></span>  关键字：</label>
                <span class="badge">前端</span>
                <span class="badge">CSS</span>
                <span class="badge">3.0</span>
                <span class="badge">动画</span>
                <span class="badge">flex</span>
            </div>
            <div class="pull-right appraise-status">
                <a class="appraise-status-item text-info" href="/Article/319#comments">
                    <span class="fa fa-comments-o"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">评论：</span>0
                </a>
                <a class="appraise-status-item text-success" href="/Article/Appraise?id=319&amp;direction=1" zyf-vote="" data-author-id="1">
                    <span class="fa fa-thumbs-o-up"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">赞：</span>
                    <span zyf-votes-count="">1</span>
                </a>
                <a class="appraise-status-item text-muted" href="/Article/Appraise?id=319&amp;direction=-1" zyf-vote="" data-author-id="1">
                    <span class="fa fa-thumbs-o-down"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">踩：</span>
                    <span zyf-votes-count="">0</span>
                </a>

            </div>
        </div>
    </div>
    <div style="margin-bottom:20px; padding-bottom:10px; border-bottom: 1px dashed #ccc;">
        <div class="clearfix">
            <div>
                <small class="text-muted" zyf-datetime="">
                    <span>
                        <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年03月02日 20点14分</span>
                    </span>
                </small>

                <span class="pull-right">
                    作者：<a href="/Article/User-1">叶飞</a>

                    <a href="/Article/Edit/637" class="hide" style="margin-left:14px;" zyf-article-edit="" data-author-id="1"><span class="fa fa-pencil-square-o"></span> 修改</a>
                </span>
            </div>
            <h4>
                <a href="/Article/637">CSS：flex布局</a>

            </h4>
            <p style="word-break:break-all; clear:both; margin-top:8px;">
                CSS3引入了flex布局，随着CSS3被越来越多的浏览器支持，flex布局也得到了越来越多的应用。Container和Itemsflex布局的关键是理解：它首先需要一个container元素（父元素）在container中放置若干items元素（子元素）在container中可以总体上设置如何“摆放”itemsitems中也可以个体（individual）的它自己的摆放方式&lt;div style="display:flex; /* 由此将该元素设置为flex container */"&gt;&lt; <a href="/Article/637" data-toggle="tooltip" title="" data-original-title="全文">……</a>
            </p>
            <div>
                <label><span class="fa fa-tags"></span>  关键字：</label>
                <span class="badge">CSS</span>
                <span class="badge">flex</span>
                <span class="badge">定位</span>
            </div>
            <div class="pull-right appraise-status">
                <a class="appraise-status-item text-info" href="/Article/637#comments">
                    <span class="fa fa-comments-o"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">评论：</span>0
                </a>
                <a class="appraise-status-item text-success" href="/Article/Appraise?id=637&amp;direction=1" zyf-vote="" data-author-id="1">
                    <span class="fa fa-thumbs-o-up"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">赞：</span>
                    <span zyf-votes-count="">0</span>
                </a>
                <a class="appraise-status-item text-muted" href="/Article/Appraise?id=637&amp;direction=-1" zyf-vote="" data-author-id="1">
                    <span class="fa fa-thumbs-o-down"></span>
                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">踩：</span>
                    <span zyf-votes-count="">0</span>
                </a>

            </div>
        </div>
    </div>
   
    <ul class="pager">
        <li><a href="/Article/Category-73/Forward-0?sort=&amp;size=1000"><span class="fa fa-angle-double-right"></span>全部</a></li>
        <li class="next"><a href="/Article/Category-73/Forward-623">下一页 <span class="fa fa-angle-double-right"></span></a></li>
    </ul>





    <script>
        $(document).ready(function () {
            $("#category-list-transfer").css("left", function () {
                return getFlagPosition(this);
            });
            var authorId = 1;
            if (isCurrent(authorId)) {
                $("[zyf-article-reorder-hide]").removeClass('hide');
            }
        })
    </script>

@section Description{
            <div zyf-widget-content="" class="widget clearfix">
                <h4>
                    <span class="fa fa-folder text-primary"></span>
                    <a href="/Article/Category-62">ASP.NET</a>
                </h4>
                <hr>
                <div style="margin-bottom:10px; padding-left: 40px;">
                    <h4>
                        <span class="fa fa-folder text-primary"></span>
                        <a href="/Article/Category-63">RazorPage</a>
                    </h4>
                    <p>
                        微软推荐的、最新的、基于Razor页面和.NET core的新一代Web项目开发技术，包括Razor Tag Helper、Model绑定和Validation、Session/Cookie、内置依赖注入等……
                    </p>
                </div>
                <div style="margin-bottom:10px; padding-left: 40px;">
                    <h4>
                        <span class="fa fa-folder text-primary"></span>
                        <a href="/Article/Category-64">MVC</a>
                    </h4>
                    <p>
                        过去两年间最流行的、基于.NET Framework和MVC模式的ASP.NET MVC框架，主要用于讲解安全、性能、架构和各种实战功能演示……
                    </p>
                </div>
                <div style="margin-bottom:10px; padding-left: 40px;">
                    <h4>
                        <span class="fa fa-folder text-primary"></span>
                        <a href="/Article/Category-65">其他Web项目</a>
                    </h4>
                    <p>
                        包括WebForm和WebApi
                    </p>
                </div>
                <a href="/Article" class="btn pull-right"><span class="fa fa-hand-o-right"></span> 全部</a>
            </div>

            <div zyf-widget-content="" class="widget clearfix">
                <div style="font-size:24px;"><span class="fa fa-tags "></span> 关键字</div>
                <hr>
                <div zyf-keyword-widget-content="">
                    <div class="user-tags">
                        <a zyf-keyword-widget-id="163" href="/Problem?keyword=163" data-toggle="tooltip" title="" data-original-title="已使用242次">
                            <span class="badge" style="font-size:21px; background-color:rgba(51, 51, 51, 0.96875)">
                                编程开发语言
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="169" href="/Problem?keyword=169" data-toggle="tooltip" title="" data-original-title="已使用97次">
                            <span class="badge" style="font-size:20.5px; background-color:rgba(51, 51, 51, 0.9375)">
                                C#
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="170" href="/Problem?keyword=170" data-toggle="tooltip" title="" data-original-title="已使用71次">
                            <span class="badge" style="font-size:20px; background-color:rgba(51, 51, 51, 0.90625)">
                                JAVA
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="162" href="/Problem?keyword=162" data-toggle="tooltip" title="" data-original-title="已使用68次">
                            <span class="badge" style="font-size:19.5px; background-color:rgba(51, 51, 51, 0.875)">
                                工具软件
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="171" href="/Problem?keyword=171" data-toggle="tooltip" title="" data-original-title="已使用55次">
                            <span class="badge" style="font-size:19px; background-color:rgba(51, 51, 51, 0.84375)">
                                Javascript
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="164" href="/Problem?keyword=164" data-toggle="tooltip" title="" data-original-title="已使用55次">
                            <span class="badge" style="font-size:18.5px; background-color:rgba(51, 51, 51, 0.8125)">
                                顾问咨询
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="199" href="/Problem?keyword=199" data-toggle="tooltip" title="" data-original-title="已使用32次">
                            <span class="badge" style="font-size:18px; background-color:rgba(51, 51, 51, 0.78125)">
                                html
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="182" href="/Problem?keyword=182" data-toggle="tooltip" title="" data-original-title="已使用25次">
                            <span class="badge" style="font-size:17.5px; background-color:rgba(51, 51, 51, 0.75)">
                                VisualStudio
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="161" href="/Problem?keyword=161" data-toggle="tooltip" title="" data-original-title="已使用24次">
                            <span class="badge" style="font-size:17px; background-color:rgba(51, 51, 51, 0.71875)">
                                操作系统
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="184" href="/Problem?keyword=184" data-toggle="tooltip" title="" data-original-title="已使用19次">
                            <span class="badge" style="font-size:16.5px; background-color:rgba(51, 51, 51, 0.6875)">
                                职场
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="174" href="/Problem?keyword=174" data-toggle="tooltip" title="" data-original-title="已使用18次">
                            <span class="badge" style="font-size:16px; background-color:rgba(51, 51, 51, 0.65625)">
                                SQL
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="188" href="/Problem?keyword=188" data-toggle="tooltip" title="" data-original-title="已使用18次">
                            <span class="badge" style="font-size:15.5px; background-color:rgba(51, 51, 51, 0.625)">
                                法律
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="173" href="/Problem?keyword=173" data-toggle="tooltip" title="" data-original-title="已使用18次">
                            <span class="badge" style="font-size:15px; background-color:rgba(51, 51, 51, 0.59375)">
                                Python
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="89" href="/Problem?keyword=89" data-toggle="tooltip" title="" data-original-title="已使用14次">
                            <span class="badge" style="font-size:14.5px; background-color:rgba(51, 51, 51, 0.5625)">
                                .net
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="200" href="/Problem?keyword=200" data-toggle="tooltip" title="" data-original-title="已使用13次">
                            <span class="badge" style="font-size:14px; background-color:rgba(51, 51, 51, 0.53125)">
                                CSS
                            </span>
                        </a>
                        <a zyf-keyword-widget-id="167" href="/Problem?keyword=167" data-toggle="tooltip" title="" data-original-title="已使用12次">
                            <span class="badge" style="font-size:13.5px; background-color:rgba(51, 51, 51, 0.5)">
                                Linux
                            </span>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="直接输入关键字查找" zyf-keyword-widget-search-value="">
                            <span class="input-group-addon" zyf-keyword-widget-search-btn=""><span class="fa fa-search"></span></span>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <a href="" class="btn btn-default" zyf-keyword-widget-another="1">
                            <span class="fa fa-random"></span>
                            <span style="margin-left:5px;">换一批</span>
                        </a>
                    </div>
                </div>
            </div>
            <div zyf-widget-content="" class="clearfix" style="margin-bottom:30px;">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified nav-tabs-colored" role="tablist">
                    <li role="presentation">
                        <a href="#planscan" aria-controls="profile" role="tab" data-toggle="tab">
                            <span class="fa fa-eye"></span> 每日督促
                        </a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#contribute" aria-controls="messages" role="tab" data-toggle="tab" style="color:red;">
                            <span class="fa fa-heart"></span> 排行榜
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#register" aria-controls="home" role="tab" data-toggle="tab">
                            <span class="fa fa-user-circle-o"></span> 新注册
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="planscan">
                        <table class="table-none-border">
                            <tbody>
                                <tr>
                                    <td colspan="2" style="font-size:18px"><span class="fa fa-calendar-check-o fa-fw"></span> 2021年01月06日</td>
                                </tr>
                                <tr>
                                    <th>共扫描目标：</th>
                                    <td><span class="fa fa-flag-o fa-fw"></span> 8 个</td>
                                </tr>
                                <tr>
                                    <th>当天休息：</th>
                                    <td><span class="fa fa-ban fa-fw text-muted"></span> 7 人</td>
                                </tr>
                                <tr>
                                    <th>已交作业：</th>
                                    <td><span class="fa fa-check text-success fa-fw"></span> 0 份</td>
                                </tr>
                                <tr>
                                    <th>请假：</th>
                                    <td><span class="fa fa-coffee fa-fw"></span>  0 人</td>
                                </tr>
                                <tr>
                                    <th>未交作业：</th>
                                    <td><a zyf-task-not-complete=""><span class="fa fa-remove fa-fw"></span> 1 人</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="contribute">
                        <table class="table-none-border order-list">
                            <tbody>

                                <tr zyf-user-most-order="1">
                                    <td style="width: 40px;"><span class="order-tag item-1">1</span></td>
                                    <td>


                                        <span data-toggle="tooltip" title="" data-original-title="捐赠 5">
                                            <a href="/User/1" zyf-show-contact="1" style="color:#DCB962">
                                                叶飞
                                            </a>
                                        </span>
                                        <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="大宗师">
                                            <span>⑩</span>
                                        </a>
                                    </td>
                                    <td>290</td>
                                </tr>
                                <tr zyf-user-most-order="2">
                                    <td style="width: 40px;"><span class="order-tag item-2">2</span></td>
                                    <td>


                                        <span data-toggle="tooltip" title="" data-original-title="">
                                            <a href="/User/4269" zyf-show-contact="4269" >
                                                Y123
                                            </a>
                                        </span>
                                        <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="中级学徒">
                                            <span>②</span>
                                        </a>
                                    </td>
                                    <td>30</td>
                                </tr>
                                <tr zyf-user-most-order="3">
                                    <td style="width: 40px;"><span class="order-tag item-3">3</span></td>
                                    <td>


                                        <span data-toggle="tooltip" title="" data-original-title="">
                                            <a href="/User/4530" zyf-show-contact="4530" style="color:black">
                                                tstudio
                                            </a>
                                        </span>
                                        <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级学徒">
                                            <span>①</span>
                                        </a>
                                    </td>
                                    <td>20</td>
                                </tr>
                                <tr zyf-user-most-order="4">
                                    <td style="width: 40px;"><span class="order-tag item">4</span></td>
                                    <td>


                                        <span data-toggle="tooltip" title="" data-original-title="捐赠 1000">
                                            <a href="/User/4280" zyf-show-contact="4280" style="color:#DCB962">
                                                阿泰12
                                            </a>
                                        </span>
                                        <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="高级学徒">
                                            <span>③</span>
                                        </a>
                                    </td>
                                    <td>10</td>
                                </tr>
                                <tr zyf-user-most-order="5">
                                    <td style="width: 40px;"><span class="order-tag item">5</span></td>
                                    <td>


                                        <span data-toggle="tooltip" title="" data-original-title="">
                                            <a href="/User/4529" zyf-show-contact="4529" style="color:blue">
                                                附属金卡
                                            </a>
                                        </span>
                                        <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级学徒">
                                            <span>①</span>
                                        </a>
                                    </td>
                                    <td>10</td>
                                </tr>
                            </tbody>
                        </table>


                        <div zyf-user-widget-most-contribute="" class="clearfix" style="padding-top:10px;">
                            <a href="/User/MyMost?on=Contribute" class="btn pull-right">
                                <span class="fa fa-hand-o-right"></span> 我的排名
                            </a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="register">
                        <div style="margin-bottom:10px;">
                            <small class="text-muted" zyf-datetime="">
                                <span>
                                    <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2021年01月04日 10点42分</span>
                                </span>
                            </small>

                            <div>


                                <span data-toggle="tooltip" title="">
                                    <a href="/User/4530" zyf-show-contact="4530" style="color:blue">
                                        tstudio
                                    </a>
                                </span>
                                <a href="/FAQ/Credit#" data-toggle="tooltip" title="初级学徒" class="text-muted" style="position:relative; top:-1px;">
                                    <span>①</span>
                                </a>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;">
                            <small class="text-muted" zyf-datetime="">
                                <span>
                                    <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2021年01月02日 20点10分</span>
                                </span>
                            </small>

                            <div>


                                <span data-toggle="tooltip" title="">
                                    <a href="/User/4529" zyf-show-contact="4529" style="color:blue">
                                        附属金卡
                                    </a>
                                </span>
                                <a href="/FAQ/Credit#" data-toggle="tooltip" title="初级学徒" class="text-muted" style="position:relative; top:-1px;">
                                    <span>①</span>
                                </a>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;">
                            <small class="text-muted" zyf-datetime="">
                                <span>
                                    <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年12月30日 10点20分</span>
                                </span>
                            </small>

                            <div>


                                <span data-toggle="tooltip" title="">
                                    <a href="/User/4528" zyf-show-contact="4528" style="color:blue">
                                        tbwlovelyy
                                    </a>
                                </span>
                                <a href="/FAQ/Credit#" data-toggle="tooltip" title="初级学徒" class="text-muted" style="position:relative; top:-1px;">
                                    <span>①</span>
                                </a>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;">
                            <small class="text-muted" zyf-datetime="">
                                <span>
                                    <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年12月28日 11点07分</span>
                                </span>
                            </small>

                            <div>


                                <span data-toggle="tooltip" title="">
                                    <a href="/User/4527" zyf-show-contact="4527" style="color:blue">
                                        xgm200688
                                    </a>
                                </span>
                                <a href="/FAQ/Credit#" data-toggle="tooltip" title="初级学徒" class="text-muted" style="position:relative; top:-1px;">
                                    <span>①</span>
                                </a>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;">
                            <small class="text-muted" zyf-datetime="">
                                <span>
                                    <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年12月21日 19点34分</span>
                                </span>
                            </small>

                            <div>


                                <span data-toggle="tooltip" title="">
                                    <a href="/User/4526" zyf-show-contact="4526" style="color:black">
                                        hapi
                                    </a>
                                </span>
                                <a href="/FAQ/Credit#" data-toggle="tooltip" title="初级学徒" class="text-muted" style="position:relative; top:-1px;">
                                    <span>①</span>
                                </a>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="clearfix">
                            <a href="/User/Index" class="btn pull-right"><span class="fa fa-hand-o-right"></span> 更多</a>
                        </div>
                    </div>
                </div>

            </div>

            <script>
    $(document).ready(function () {
        $.ajax({
            url: "/PlanScan/_DailyResult",
            success: function (data) {
                var $data = $(data);
                //显示未交作业的详情
                $data.find("[zyf-task-not-complete]").click(function () {
                    if (!isAdmin()) {
                        showRemind(getWarningIcon() + ' 涉及个人隐私，只有管理员才有权查看。')
                        return false;
                    } else {
                        $.ajax({
                            url: "/PlanScan/_GetAllNotComplete",
                            success: function (data) {
                                var title = '<span class="iconfont icon-money-bag"></span> 昨日全部未交作业';
                                showModal(title, data);
                            },
                            error: JqueryAjaxError
                        })
                    }
                })
                $("#planscan").html($data);
            },
            error: JqueryAjaxError
        })
        $.ajax({
            url: "/User/_WidgetRegister",
            success: function (data) {
                $("#register").html(data);
            },
            error: JqueryAjaxError
        })
    })
            </script>

            <div zyf-widget-content="" class="widget clearfix">
                <div class="ad-in-widget order-list">
                    <span class="item-1 order-tag">1</span>
                    <a href="http://17bang.ren/Article/261">学编程，来 “源栈”！飞哥精品小班等着你……</a>
                </div>
                <div class="ad-in-widget order-list">
                    <span class="item-2 order-tag">2</span>
                    <a href="/AdInWidget/_Free?position=2" zyf-adinwidget-free="" class="text-warning">免费广告位，抢到就是赚到！</a>
                </div>
                <div class="ad-in-widget order-list">
                    <span class="item-3 order-tag">3</span>
                    <a href="/AdInWidget/_Free?position=3" zyf-adinwidget-free="" class="text-warning">免费广告位，抢到就是赚到！</a>
                </div>
                <div class="ad-in-widget order-list">
                    <span class="item order-tag">4</span>
                    <a href="/AdInWidget/_Free?position=4" zyf-adinwidget-free="" class="text-warning">免费广告位，抢到就是赚到！</a>
                </div>
                <div class="ad-in-widget order-list">
                    <span class="item order-tag">5</span>
                    <a href="/AdInWidget/_Free?position=5" zyf-adinwidget-free="" class="text-warning">免费广告位，抢到就是赚到！</a>
                </div>
                <div class="ad-in-widget order-list">
                    <span class="item order-tag">6</span> 本站主机由<a href="http://www.west.cn/index.asp?ReferenceID=563969">西部数码</a>提供
                </div>
                <a href="/AdInWidget/Write" class="pull-right text-muted">
                    <small zyf-ad-in-widget-remind="">
                        <span class="fa fa-buysellads"></span> 广告
                        <span zyf-ad-in-widget-remind-suffix="" class="hide">，你也可以发布哟！</span>
                    </small>
                </a>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" zyf-adinwidget-free-modal="">
            </div><!-- /.modal -->
            <script>
        $(document).ready(function () {
            var $freeAdInWidget = $("[zyf-adInWidget-free]"),
                warningClassName = "text-warning";

            setInterval(function () {
                if ($freeAdInWidget.hasClass(warningClassName)) {
                    $freeAdInWidget.removeClass(warningClassName);
                } else {
                    $freeAdInWidget.addClass(warningClassName);
                }
            }, 500)

            $("[zyf-adInWidget-free]").click(function (event) {
                event.preventDefault();
                if (isVisitor()) {
                    showRemind(getWarningIcon() + " 访客不能申请该免费广告位。" + needLogonRemind());
                    return false;
                }
                var $this = $(this),
                    $modal = $("[zyf-adInWidget-free-modal]");
                $.ajax({
                    url: $this.attr("href"),
                    success: function (data) {
                        $modal.modal("show");
                        var $data = $(data);
                        $data.find("[zyf-adInWidget-free-parentUrl]").val(location.href);
                        $data.find("[zyf-ad-content-edit]").change(modifeAdContent);
                        $data.find("[zyf-ad-in-widget-history-select]").change(showAdContent);
                        $.validator.unobtrusive.parse($data.find("form"));
                        $modal.html($data);
                    }
                })
            })
        })
            </script>


       

}

